{% extends 'admin/base.html.twig' %}

{% block main %}

    <main>

        <h3 class="main-title">The {{specific_family.name}} Family</h3>
        
        {% if is_granted('ROLE_ADMIN') %}

            {% for child in specific_child %}
                    <a class="time-line-link-title" href="{{path('admin_time_line', {'childname':child.name|lower|slugify,'id':child.id})}}"><h2>{{child.name}}'s Timeline</h2></a>
            {% endfor %}

        {% else %}

            {{render(controller("App\\Controller\\AdminController::specificChild"))}}

        {% endif %}

    </main>

{% endblock %}