{% extends 'admin/base.html.twig' %}

{% block main %}

    <main>
        
        <h2 class="main-title">Reset {{editUser.lastName}} Family Password</h2>

            {{form_start(form, {'attr': {'novalidate':'novalidate', 'class': 'edit-family-form'}})}}
                
                

            {{form_end(form)}}

    </main>

{% endblock %}