* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #f0efef;
    height: 100%;
    color: #2b2b28;
    text-align: center;
}

body {
    height: 100%;
    display: grid;
    grid: 
        'header header' 10vh
        'nav nav' 12vh
        'main main' 1fr
        'footer footer' 12vh
        / 3fr 1fr;
        ;
        font-family: 'Indie Flower', cursive;
}

p, .form-errors {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #2b2b28;
}

/* Site Buttons */

.add-new-button {
    color: #2b2b28;
    margin: 15px 0;
    width: 75vw;
    padding: 15px 0 15px 0;
    border-radius: 15px;
    border: none;
    background-color: #a7e9af;
}

.add-new-post-button {
    color: #2b2b28;
    margin: 15px 0;
    width: 75vw;
    padding: 15px 0 15px 0;
    border-radius: 15px;
    border: none;
    background-color: #a7e9af;
}

.submit-button {
    margin-top: 10px;
    width: 50%;
    padding: 5px 0 5px 0;
    place-self: center center;
    border-radius: 15px;
    border: none;
    background-color: #a7e9af;
}

.tab-button {
    color: #2b2b28;
    margin: 5px 0;
    width: 47.5vw;
    place-self: center center;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 7px 5px #888888;
}

header {
    grid-area: header;
    display: grid;
    place-items: center center;
    grid: 1fr / 1fr 4fr 1fr;
}

.header-image {
    width: 75%;
    margin: 3px 0;
}

/* Navigation */

.large-navigation-menu {
    display: none;
}

nav {
    grid-area: nav;
    display: grid;
    grid: 1fr / 1fr 2fr 1fr;
    background: #bbcfff;
    place-items: center center;
}

.login-container {
    place-self: center end;
    text-decoration: none;
}

.burger-menu-container {
    display: grid;
    place-items: center center;
}

.burger-navigation-menu-container{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: rgb(187, 207, 255, 0.95);
    transition: 0.5s;
    overflow-x: hidden;
    display: grid;
}

.burger-navigation-menu {
    display: grid;
    grid: 1fr 3fr / 1fr;
}

.burger-navigation-menu a {
    font-size: 1.3rem;
    text-decoration: none;
}

.burger-menu-items-container a h3 {
    margin-bottom: 15px;
}

.closebtn {
    place-self: center center;
}

main {
    grid-area: main;
    place-self: center center;
    display: grid;
    grid: auto / 95vw;
    place-items: center center;
}

.main-title {
    place-self: start center;
}

.time-line-link-title {
    place-self: start center;
    margin-top: 15px;
    padding: 10px 15px 10px 15px;
    width: 80vw;
    border-radius: 15px;
    background: #a7e9af;
    font-weight: bold;
}

/* Super admin overview Page */

.admin-content-container {
    display: grid;
    place-items: center center;
}

.admin-tab-container {
    place-self: start center;
    display: grid;
    grid: 1fr / 1fr 1fr;
    width: 100vw;
}

.selected {
    background-color: #a7e9af;
}

.child-container {
    width: 85vw;
    display: grid;
    grid: 1fr / 3fr 1fr 1fr;
    place-items: center center;
    margin-top: 10px;
    padding: 20px 5px 20px 5px;
    border: 0.5px solid black;
    border-radius: 15px;
}

.family-name {
    font-size: 1.1rem;
}

#edit-family {
    color: green;
    border: 1px green solid;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center center;
}

#download-policy {
    color: #2654c0;
    border: 2px #2654c0 solid;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center center;
}

#delete-family {
    color: red;
    border: 1px red solid;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center center;
}

/* Super admin Edit Family & add posts */

.edit-family-form {
    display: grid;
    grid: 1fr / 65vw;
    margin: 10px 0;
    padding: 10px;
}

.edit-family-form-field {
    text-align: center;
    border-radius: 15px;
    border: none;
    padding: 5px 0 5px 0;
    margin: 10px 10px 0 10px;
}

.form-errors {
    color: red;
    font-size: 0.85rem;
}

.form-success {
    place-self: center center;
    border: solid 1px #187a18;
    border-radius: 5px;
    box-shadow: 5px 5px 12px #187a18;
    padding: 10px;
    background: rgb(24, 122, 24, 0.1);
}

.edit-family-form-link {
    color: #187a18;
    margin: 10px 0;
}

/* Display posts on family page admin and parents */

.timeline-post {
    display: grid;
    grid-column: 1fr;
    grid-template-rows: auto;
    margin-bottom: 15px;
    place-items: center center;
    width: 95vw;
    border: solid 1px #2b2b28;
    border-radius: 15px;
    padding: 10px 0;
}

.timeline-post:first-of-type {
    margin-top: 15px;
}

.timeline-post-headers {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    width: 95%;
    place-items: center center;
    margin-bottom: 10px;
}

.timeline-post-headers h3 {
    place-self: center center;
}

.timeline-post-image-container {
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center center;
    margin-bottom: 10px;
}

.timeline-post-image {
    width: 30px;
    height: 30px;
}

.timeline-post-contact {
    color: #2b2b28;
    font-size: 0.8rem;
    border: 1px green solid;
    border-radius: 15px;
    padding: 10px;
    grid-column: 1 / 3;
    margin-top: 10px; 
}

/* Timeline post enlarge image modal */

#timeline-post-mini-image:hover {
    opacity: 0.7;
}

.enlarge-image-modal-background {
    display: none;
    place-items: center center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

.enlarge-image-modal-image {
    width: 95%;
    border-radius: 7px;
    max-width: 95vw;
  }

.enlarge-image-modal-image {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

#new-time-line-post-form {
    display: none;
}

.enlarge-image-modal-close-btn {
    z-index: 2;
    color: #f1f1f1;
    font-weight: bold;
    transition: 0.3s;
}

.enlarge-image-modal-close-btn:hover,
.enlarge-image-modal-close-btn:focus {
  color: #bbb;
  cursor: pointer;
}

#hide-new-time-line-post-form-button {
    display: none;
}

#add-new-time-line-post-form-button {
    place-self: start center;
}

/* Family Portal */

.family-portal-container {
    width: 85vw;
    display: grid;
    grid: 1fr / 1fr 1fr;
    place-items: center center;
    margin-top: 10px;
    padding: 20px 5px 20px 5px;
}

.family-portal-container-options {
    color: #2b2b28;
    border: 1px green solid;
    border-radius: 15px;
    padding: 10px;
    height: 15vh;
    width: 70%;
    display: grid;
    place-items: center center;
    font-weight: bold;
}

footer {
    grid-area: footer;
    background: #bbcfff;
    display: grid;
    place-items: center center;
}

/* Media Queries */

/* Mobile Landscape */
@media (min-width: 640px) {

    body {
        grid: 
            'header header' 18vh
            'nav nav' 15vh
            'main main' 1fr
            'footer footer' 8vh
            / 3fr 1fr;
            ;
    }

    nav {
        padding: 2px 0;
    }

    .header-image {
        width: 65%;
        margin: 3px 0;
    }

    .admin-content-container {
        grid: auto / 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .child-container {
        width: 43vw;
    }

    .add-new-button {
        grid-column: 1 / 3;
    }

    .family-portal-container-options {
        height: 22vh;
    }

    .time-line-link-title {
        width: 65vw;
    }

}

/* Tablet Portrait */
@media (min-width: 768px) {

    body {
        grid: 
            'header header' 6vh
            'nav nav' 8vh
            'main main' 1fr
            'footer footer' 5vh
            / 3fr 1fr;
            ;
        font-size: 1.5rem;
    }

    .burger-navigation-menu a {
        font-size: 2rem;   
    }

    .header-image {
        width: 50%;
        margin: 3px 0;
    }

    .admin-content-container {
        grid: auto / 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .child-container {
        width: 43vw;
    }

    .add-new-button {
        grid-column: 1 / 3;
    }

    .family-portal-container-options {
        height: 15vh;
    }

    .time-line-link-title {
        width: 65vw;
        font-size: 3rem;
    }

    .timeline-post-container {
        display: grid;
        grid: auto / 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .timeline-post {
        width: 45vw;
    }

    .timeline-post:first-of-type {
        margin-top: 0;
    }

    .edit-family-form {
        grid: 1fr / 50vw;
    }
    
    .edit-family-form-field {
        font-size: 1.75rem;
    }

    .submit-button {
        font-size: 1.75rem;
    }

}

/* Tablet Landscape */
@media (min-width: 1024px) {

    body {
        grid: 
            'header header' 10vh
            'nav nav' 11vh
            'main main' 1fr
            'footer footer' 6vh
            / 3fr 1fr;
            ;
        font-size: 1.5rem;
    }

    .burger-navigation-menu a {
        font-size: 2.5rem;   
    }

    .header-image {
        width: 50%;
        margin: 3px 0;
    }

    .admin-content-container {
        grid: auto / 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .child-container {
        width: 43vw;
    }

    .add-new-button {
        grid-column: 1 / 3;
    }

    .family-portal-container-options {
        height: 15vh;
    }

    .time-line-link-title {
        width: 65vw;
        font-size: 3rem;
    }

    .timeline-post-container {
        display: grid;
        grid: auto / 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .timeline-post {
        width: 45vw;
    }

    .timeline-post:first-of-type {
        margin-top: 0;
    }

    .edit-family-form {
        grid: 1fr / 50vw;
    }
    
    .edit-family-form-field {
        font-size: 1.5rem;
    }

    .submit-button {
        font-size: 1.5rem;
    }

}

/* Laptop screen or larger */
@media (min-width: 1280px) {

    body {
        grid: 
            'header header' 10vh
            'nav nav' 11vh
            'main main' 1fr
            'footer footer' 8vh
            / 3fr 1fr;
            ;
        font-size: 1.5rem;
    }

    nav {
        grid: 1fr / 7fr 1fr 1fr;
    }

    /* Hide Mobile Menu */

    .burger-menu-container {
        display: none;
    }

    /* Show large menu */

    .large-navigation-menu {
        width: 60vw;
        place-self: center center;
        display: grid;
        grid: 1fr / 1fr 1fr 1fr 1fr;
    }

    .header-image {
        width: 50%;
        margin: 3px 0;
    }

    .admin-content-container {
        grid: auto / 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .child-container {
        width: 43vw;
    }

    .add-new-button {
        grid-column: 1 / 3;
    }

    .family-portal-container-options {
        height: 15vh;
    }

    .time-line-link-title {
        width: 65vw;
        font-size: 3rem;
    }

    .timeline-post-container {
        display: grid;
        grid: auto / 1fr 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .timeline-post {
        width: 30vw;
    }

    .timeline-post:first-of-type {
        margin-top: 0;
    }

    .edit-family-form {
        grid: 1fr / 50vw;
    }
    
    .edit-family-form-field {
        font-size: 2rem;
    }

    .submit-button {
        font-size: 2rem;
    }
}

@media (min-width: 1500px) {

    body {
        grid: 
            'header header' 10vh
            'nav nav' 11vh
            'main main' 1fr
            'footer footer' 8vh
            / 3fr 1fr;
            ;
        font-size: 1.5rem;
    }

    nav {
        grid: 1fr / 7fr 1fr 1fr;
    }

    /* Hide Mobile Menu */

    .burger-menu-container {
        display: none;
    }

    /* Show large menu */

    .large-navigation-menu {
        width: 60vw;
        place-self: center center;
        display: grid;
        grid: 1fr / 1fr 1fr 1fr 1fr;
    }

    .header-image {
        width: 35%;
        margin: 3px 0;
    }

    .admin-content-container {
        grid: auto / 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .child-container {
        width: 43vw;
    }

    .add-new-button {
        grid-column: 1 / 3;
    }

    .family-portal-container-options {
        height: 15vh;
    }

    .time-line-link-title {
        width: 65vw;
        font-size: 3rem;
    }

    .timeline-post-container {
        display: grid;
        grid: auto / 1fr 1fr 1fr;
        grid-column-gap: 2vw;
    }

    .timeline-post {
        width: 30vw;
    }

    .timeline-post:first-of-type {
        margin-top: 0;
    }

    .edit-family-form {
        grid: 1fr / 50vw;
    }
    
    .edit-family-form-field {
        font-size: 2.5rem;
    }

    .submit-button {
        font-size: 2.5rem;
    }
}