{% extends 'base.html.twig' %}

{% block main %}

    <main>
    
    <h2>Owner: Susie</h2>
    <p>Over 20 years experience</p>
    
    <h3>Find SLE:</h3>
    <p>2 Dunford Road, Bedminster, BS3</p>
    
    </main>

{% endblock %}