{% extends 'base.html.twig' %}

{% block main %}

    <main>
    
    <h2>Passionate about providing top class child care</h2>
    <img width="85%" src="{{asset('assets/img/front-page-images/children-animated.png')}}" alt="">
    
    </main>

{% endblock %}