{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 5;">

        {% if error %}

            

            <div class="form-errors">
            
                {{error.messageKey|trans(error.messageData, 'security')}}
                
            </div>

            
        
        {% endif %}
        
    
        <form class="edit-family-form" method="POST" action="{{path('login')}}">

            <h3>Please Login</h3>
            <input class="edit-family-form-field" name="_email" type="text" placeholder="username">
            <input class="edit-family-form-field" name="_password" type="password" placeholder="password">
            <br>
            <div>
                <label>
                    <input name="_remember_me" type="checkbox">    
                    Remember me
                </label>
            </div>
            <button class="submit-button" type="submit">Login</button>
            <input name="_csrf_token" type="hidden" value="{{csrf_token('authenticate')}}">
        </form>
    
    </main>

{% endblock %}

{% block footer %}
{% endblock %}