{% extends 'base.html.twig' %}

{% block main %}

    <main>
    
    <h2>Services Provided</h2> 

    <p>Ofsted Outstanding Care Provider</p>
    <p>Full Day Care</p>
    <p>After School Care</p>
    <p>School Holiday Care</p>
    <p>Early Drop Off</p>
    <p>Late Pickup</p>    
    
    </main>

{% endblock %}